{% extends 'store/main.html' %} {% load static %} {% block content %}

<!-- </div>  -->

<div class="container"><div class="row">
  <div class="col-lg-12 mt-3">
  
  
    <br>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#home">Description</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu1">Similar Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu2">Products By Same FPO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu3">About FPO</a>
      </li>
    </ul>
  
    <!-- Tab panes -->
    <div class="tab-content box-element">
      <div id="home" class="container tab-pane active"><br>
        <section id="gallary" class="">
          <div class="container ">
            <h3 class="font-weight-bolder ">{{product.product_name}}</h3>
            <div class="row">
              <div class="col-md-6">
                <!--Carousel Wrapper-->
                <div id="carousel-example-1z" class=" my-2 carousel slide carousel-fade carousel-fade mt-3"
                  data-ride="carousel">
                  <!--Indicators-->
                  <ol class="carousel-indicators ">
                    <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-1z" data-slide-to="1"></li>
                    <li data-target="#carousel-example-1z" data-slide-to="2"></li>
                    <li data-target="#carousel-example-1z" data-slide-to="4"></li>
                    <li data-target="#carousel-example-1z" data-slide-to="5"></li>
                  </ol>
                  <!--/.Indicators-->
                  <!--Slides-->
                  <div class="carousel-inner z-depth-1 " role="listbox">
                    <!--First slide-->
                    <div class="row">
                      <div class="col-lg-8 pl-5 ml-5">
                        <div class="carousel-item active " >
              <img   class=" d-block w-100 img-fluid  "
                          src="{{product.product_img1.url}}" alt="First slide">
                        </div>
                        <!--/First slide-->
                        <!--Second slide-->
                        <div class="carousel-item " >
                          <img  class="d-block w-100 img-fluid "
                            src="{{product.product_img2.url}}" alt="Second slide">
                        </div>
                        <!--/Second slide-->
                        <!--Third slide-->
                        <div class="carousel-item" >
                          <img  class="d-block w-100 img-fluid "
                            src="{{product.product_img3.url}}" alt="Third slide">
                        </div>
                        <div class="carousel-item">
                          <img  class="d-block w-100 img-fluid "
                            src="{{product.product_img4.url}}" alt="Third slide">
                        </div>
                        <div class="carousel-item">
                          <img  class="d-block w-100 img-fluid"
                            src="{{product.product_img5.url}}" alt="Third slide">
                        </div>
  
                      </div>
                    </div>
  
                    <!--/Third slide-->
                  </div>
                  <!--/.Slides-->
                  <!--Controls-->
                  <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon " aria-hidden="true"></span>
                    <span class="sr-only text-success">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                  <!--/.Controls-->
  
                </div>
  
              </div>
  
              <div class="col-md-5 ">
  
                <h2 class="my-3 ml-3 text-success">Details</h2>
                <div id="productDescription">
  
                  <table id="descriptionTable">
                    <tr>
                      <td><b>Name</b> </td>
                      <td>{{product.product_name}}</td>
                    </tr>
                    <tr>
                      <td><b>Price</b> </td>
                      <td>{{product.product_price}} <b>/</b>{{product.product_unit}}</td>
                    </tr>
                    <tr>
                      <td><b>Category</b></td>
                      <td>{{product.product_category}}</td>
                    </tr>
                  </table>
  
  
                  <div id="addToCart" class="my-2">
                       {% if request.user == product.product_by %}
<a class="btn btn-outline-danger my-4 " href="/market/delete_fpo_product/{{product.id}}/"> Delete</a>
<a class="btn btn-outline-secondary my-4 " href="/market/update_fpo_product/{{product.id}}/"> Update</a>
                       {% else %}
                      <a href="/market/onview_page/{{product.id}}" class="text-success">Add to Wishlist <i class="fa fa-plus"></i></a>
                       {% endif %}
                    
                  </div>
                </div>
                <p class="text-left ml-4">by <b>{{product.product_by}}</b> 30/6/2020-</p>
  
              </div>
            </div>
            <hr>
            
            
           
            <div class="col-lg-12 mt-5">
              <h3 class="text-bold" style="font-weight: 700;">Description</h3>
              <p>{{product.product_description}}</p>
            </div>
            <h5 class="ml-3"><b>Rating: </b>
              {% if product.rating == 0 %}
              <span>N/A</span>
              <i>{{product.rating}}/5</i>
              {%endif%}
              {% if product.rating == 1 %}
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star "></span>
              <span class="fa fa-star "></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              {{product.rating}}/5
              {%endif%}
              {% if product.rating == 2 %}
              <span  class="fa fa-star checked "></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star "></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              {{product.rating}}/5
              {%endif%}
              {% if product.rating == 3 %}
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              {{product.rating}}/5
              {%endif%}
              {% if product.rating == 4 %}
              <span class="fa fa-star  checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              {{product.rating}}/5
              {%endif%}
              {% if product.rating == 5 %}
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              {{product.rating}}/5
              {%endif%}
              
            </h2>
        </section>
        <!-- <section class="container-fluid">
      <div class="row">
       <div class="col-lg-4">
        <div id="item">
         <div id="productName">
          <h1>Product</h1>
         </div>
         <div class="pdt_img">
          <img class="img-thumbnail img-fluid"  src="{% static 'images/farm3.jpg' %}" alt="">
         </div>
        </div>
        </div>
        <div class="col-lg-8">
          <div id="productDescription">
           <h2>Details</h2>
           <table id="descriptionTable">
            <tr>
             <td>Name</td>
             <td>Data 1</td>
            </tr>
            <tr>
             <td>Price</td>
             <td>Data 2</td>
            </tr>
            <tr>
             <td>Category</td>
             <td>Data 3</td>
            </tr>
           </table>
          
           <h2>Description</h2>
           <p>Description Url</p>
           <div id="addToCart">
            <a href="#">Add to Cart</a>
           </div>
          </div>
        </div>
        
         
        
      </div>
     </section> -->
      </div>
      <div id="menu1" class="container tab-pane fade"><br>
        <h3>Menu 1</h3>
        <div class="row">
          {% for similar in similars %}
  
          <div style="border-top: 4px solid #7298d4;" class="view_item img-thumbnail my-2 col-lg-3 mx-4 text-center">
            <div class="vi_left">
  
              <img src="{{similar.product_img1.url}}" alt="potato">
            </div>
            <div class="vi_right">
              <p class="title text-black" style="display: inline;">{{similar.product_name}}</p>
              <p><b>By: </b>{{similar.product_by}}</p>
              <p style="display: inline;"> <i class="fas fa-rupee-sign prefix"></i> {{similar.product_price}}
                <b>/</b>{{similar.product_unit}}</p>
              <p class="content">{{similar.product_description|slice:"0:50"}}...</p>
              <a class="btn btn-primary" href="/market/view/{{similar.id}}/">View</a>
              
              {% if user.is_authenticated  %}
              <!-- <a href="/market/onview_page/{{similar.id}}/" class=" ml-5 mr-auto text-dark"> <i style="color:green"
          class="fas fa-plus"></i>
      </a> -->
              {%endif%}
            </div>
          </div>
          {% endfor %}
        </div>
  
      </div>
      <div id="menu2" class="container tab-pane fade"><br>
        <h3>Menu 2</h3>
        <div class="row ml-5">
          {% for similar2 in similars2 %}
  
          <div style="border-top: 4px solid #7298d4;" class="view_item img-thumbnail my-3 col-lg-3 mx-4  text-center">
            <div class="thumbnail">
<div class="vi_left">

  <img src="{{similar2.product_img1.url}}" alt="potato">
</div>
<div class="vi_right">
  <p class="title text-black" style="display: inline;">{{similar2.product_name}}</p>
  <p><b>By: </b>{{similar2.product_by}}</p>
  <p style="display: inline;"> <i class="fas fa-rupee-sign prefix"></i> {{similar2.product_price}}
    <b>/</b>{{similar2.product_unit}}</p>
  <p class="content">{{similar2.product_description|slice:"0:50"}}...</p>
  <a class="btn btn-success" href="/market/view/{{similar2.id}}/">View</a>


</div>
</div>
            </div>
            
          {% endfor %}
        </div>
      </div>
      <div id="menu3" class="container tab-pane fade"><br>
        
        <div class="row">
          <div class="col-lg-6 text-center">
          <img src="{% static 'images/farm4.png' %}" class="mt-5" style="width: 60px; height: 60px; border: 50%;" alt="">
          <h2 class="my-2">{{fpo.fpo_name}}</h2>
        <h5>{{fpo.fpo_area}} , India</h5>
      <h6><i class="fas fa-users"></i>Members: {{fpo.total_members}} </h6>
      <a href="#contact" class="btn btn-danger">Contact</a>
      </div>
        
       <div class="col-lg-6"><img class="img-fluid img-thumbnail " style="width: 600px;" src="{{fpo.fpo_img.url}}" alt=""></div>
      <div class="col-lg-12 my-3">
        <h3 class="text-primary my-4">About:</h3>
        {{fpo.fpo_description}}
      </div>
      <div class="col-lg-12">
        
        <section id="contact">
          <h2 class="font-weight-bolder text-center my-5">Contact us</h2>
          <div class="row">
            <div class="col-lg-5 col-md-12">
              <form class="p-5 grey-text" method="POST">
                {% csrf_token %}
                <div class="md-form form-sm"> <i class="fa fa-user prefix"></i>
                  <input type="text" id="form3" name="name" class="form-control form-control-sm">
                  <label for="form3">Your name</label>
                </div>
                <div class="md-form form-sm"> <i class="fa fa-user prefix"></i>
                  <input type="number" id="form" name="number" class="form-control form-control-sm">
                  <label for="form">Phone number</label>
                </div>
                <div class="md-form form-sm"> <i class="fa fa-envelope prefix"></i>
                  <input type="text" id="form2" name="email" class="form-control form-control-sm">
                  <label for="form2">Your email</label>
                </div>
                <div class="md-form form-sm"> <i class="fa fa-tag prefix"></i>
                  <input type="text" id="form34" name="subject" class="form-control form-control-sm">
                  <label for="form34">Subject</label>
                </div>
                <div class="md-form form-sm"> <i class="fa fa-pencil prefix"></i>
                  <textarea type="text" id="form8" name="message" class="md-textarea form-control form-control-sm" rows="4"></textarea>
                  <label for="form8">Your message</label>
                </div>
                <div class="text-center mt-4">
                  <button type="submit" class="btn btn-primary">Send <i class="fa fa-paper-plane-o ml-1"></i></button>
                </div>
              </form>
              <!-- Form contact -->
            </div>
           <div class="col-lg-7 text-center mt-5">
            <h4 class="mt-5 text-primary">Contact Info:
            </h4>
             <h1 class="mt-5"></h1>
             
            <h5 ><i class="fa fa-envelope my-2  text-success"></i> {{fpo.fpo_email}}</h5>
            <h5 ><i class="fas fa-phone-alt text-success my-2"></i> 9399222222</h5>
            <h5 ><i class="fas fa-phone-alt text-success my-2"></i> 9399222222</h5>
            <h5>{{fpo.fpo_area}} , India</h5>
            <h5>Pincode: {{fpo.area_pincode}}</h5>
           </div>
          </div>
          </div>
        </section>
      </div>
      </div>
       
        <h3></h3>
        
      </div>
    </div>
  </div>
  
</div></div>



{% endblock %}


